n8n-workflows/checklist-processor-v2.json
{
  "name": "Checklist Lead Processor v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checklist-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "checklist-submit"
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming payload and compute derived values\nconst body = $input.first().json.body || $input.first().json;\n\nconst email = (body.email || '').toLowerCase().trim();\nconst firstName = (body.firstName || '').trim();\nconst companyName = (body.companyName || '').trim();\nconst source = (body.source || 'site').trim();\nconst answers = body.answers || {};\n\n// Compute score (count of checked answers)\nconst score = Object.values(answers).filter(Boolean).length;\n\n// Determine readiness tier\nlet tier = 'Early Stage';\nlet tierMessage = '';\nif (score >= 16) {\n  tier = 'Highly Ready';\n  tierMessage = 'You have strong foundations in place. Our conversation will focus on which automations will move the needle fastest.';\n} else if (score >= 11) {\n  tier = 'Ready for Quick Wins';\n  tierMessage = 'You are in a great position to implement high-impact automations. David will focus on the 2-3 quick wins that will give you the best return immediately.';\n} else if (score >= 6) {\n  tier = 'Building Foundation';\n  tierMessage = 'You have key gaps that, once filled, will unlock significant efficiency. David will recommend the foundational pieces to prioritize first.';\n} else {\n  tier = 'Early Stage';\n  tierMessage = 'You are early in your automation journey — which is actually an advantage. David will help you plan a simple roadmap that avoids over-engineering.';\n}\n\n// Map source to deal tier for CRM\nlet crmDealTier = 'Lead';\nif (source === 'customer') crmDealTier = 'Post-Payment';\nelse if (source === 'audit') crmDealTier = 'Audit Requested';\n\n// Summarize answered questions for David's notification\nconst answeredYes = Object.entries(answers)\n  .filter(([, v]) => v === true)\n  .map(([k]) => k)\n  .join(', ') || 'None';\n\nconst submittedAt = new Date().toISOString();\nconst submittedReadable = new Date().toLocaleString('en-US', {\n  timeZone: 'America/New_York',\n  dateStyle: 'medium',\n  timeStyle: 'short'\n});\n\nreturn [{\n  json: {\n    email,\n    firstName,\n    companyName,\n    source,\n    score,\n    tier,\n    tierMessage,\n    crmDealTier,\n    answeredYes,\n    answers,\n    submittedAt,\n    submittedReadable,\n    hasCompany: companyName.length > 0\n  }\n}];"
      },
      "id": "normalize-node",
      "name": "Normalize & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://espocrm/api/v1/Lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "where[0][type]", "value": "equals" },
            { "name": "where[0][attribute]", "value": "emailAddress" },
            { "name": "where[0][value]", "value": "={{ $json.email }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "search-espo-node",
      "name": "Search EspoCRM by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ESPOCRM_CREDENTIAL_ID",
          "name": "EspoCRM API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-exists-node",
      "name": "Lead Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'http://espocrm/api/v1/Lead/' + $json.list[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cDealTier\": \"{{ $('Normalize & Score').item.json.crmDealTier }}\",\n  \"status\": \"In Progress\",\n  \"description\": \"{{ $json.list[0].description || '' }}\\n\\n--- CHECKLIST COMPLETED ---\\nScore: {{ $('Normalize & Score').item.json.score }}/20\\nTier: {{ $('Normalize & Score').item.json.tier }}\\nCompleted: {{ $('Normalize & Score').item.json.submittedReadable }}\\nSource: {{ $('Normalize & Score').item.json.source }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-espo-node",
      "name": "Update EspoCRM Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ESPOCRM_CREDENTIAL_ID",
          "name": "EspoCRM API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://espocrm/api/v1/Lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $('Normalize & Score').item.json.firstName }}\",\n  \"emailAddress\": \"{{ $('Normalize & Score').item.json.email }}\",\n  \"accountName\": \"{{ $('Normalize & Score').item.json.companyName }}\",\n  \"source\": \"Website Checklist\",\n  \"status\": \"New\",\n  \"description\": \"AI Readiness Score: {{ $('Normalize & Score').item.json.score }}/20\\nReadiness Tier: {{ $('Normalize & Score').item.json.tier }}\\nSource: {{ $('Normalize & Score').item.json.source }}\\nSubmitted: {{ $('Normalize & Score').item.json.submittedReadable }}\\n\\nAnswered Yes: {{ $('Normalize & Score').item.json.answeredYes }}\",\n  \"cDealTier\": \"{{ $('Normalize & Score').item.json.crmDealTier }}\",\n  \"cUtmSource\": \"checklist\",\n  \"cUtmMedium\": \"form\",\n  \"cUtmCampaign\": \"ai-readiness-assessment\",\n  \"cCurrentPainPoint\": \"AI Readiness {{ $('Normalize & Score').item.json.score }}/20 — {{ $('Normalize & Score').item.json.tier }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "espocrm-node",
      "name": "Create Lead in EspoCRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ESPOCRM_CREDENTIAL_ID",
          "name": "EspoCRM API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"AIandWEBservices <notifications@aiandwebservices.com>\",\n  \"to\": [\"david@aiandwebservices.com\"],\n  \"reply_to\": \"{{ $json.email }}\",\n  \"subject\": \"New checklist submission — {{ $json.firstName }} {{ $json.score }}/20\",\n  \"html\": \"<div style='font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;max-width:600px;margin:0 auto;padding:24px;'><h2 style='color:#0f172a;margin:0 0 16px;'>New Checklist Submission</h2><p style='font-size:16px;color:#374151;line-height:1.6;'><strong>{{ $json.firstName }}</strong>{{ $json.hasCompany ? ' from <strong>' + $json.companyName + '</strong>' : '' }} just completed the AI Readiness Checklist.</p><table style='width:100%;border-collapse:collapse;margin:20px 0;background:#f8fafc;border-radius:8px;overflow:hidden;'><tr><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;color:#6b7280;font-size:13px;'>Email</td><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;'><a href='mailto:{{ $json.email }}' style='color:#2AA5A0;text-decoration:none;'>{{ $json.email }}</a></td></tr><tr><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;color:#6b7280;font-size:13px;'>Company</td><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;'>{{ $json.companyName || '—' }}</td></tr><tr><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;color:#6b7280;font-size:13px;'>Source</td><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;'>{{ $json.source }}</td></tr><tr><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;color:#6b7280;font-size:13px;'>Score</td><td style='padding:12px 16px;border-bottom:1px solid #e5e7eb;font-weight:700;color:#2AA5A0;'>{{ $json.score }}/20 — {{ $json.tier }}</td></tr><tr><td style='padding:12px 16px;color:#6b7280;font-size:13px;'>Submitted</td><td style='padding:12px 16px;'>{{ $json.submittedReadable }} EST</td></tr></table><div style='background:#fffbeb;border-left:3px solid #f59e0b;padding:12px 16px;margin:20px 0;border-radius:4px;'><p style='margin:0;font-size:13px;color:#92400e;'><strong>Questions answered yes:</strong> {{ $json.answeredYes }}</p></div><p style='font-size:14px;color:#6b7280;margin-top:24px;'>Reply to this email to follow up with {{ $json.firstName }} directly — their email is set as reply-to.</p></div>\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notify-david-node",
      "name": "Notify David — New Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"David Pulis <david@aiandwebservices.com>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"reply_to\": \"david@aiandwebservices.com\",\n  \"subject\": \"Your AI Readiness Score — {{ $json.score }}/20\",\n  \"html\": \"<!DOCTYPE html><html><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1.0'></head><body style='margin:0;padding:0;background-color:#f0f2f5;font-family:Helvetica,Arial,sans-serif;'><table role='presentation' width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:#f0f2f5;'><tr><td align='center' style='padding:32px 16px;'><table role='presentation' width='600' cellpadding='0' cellspacing='0' border='0' style='background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);max-width:600px;'><tr><td align='center' style='background-color:#0f172a;padding:28px 40px;'><div style='font-size:22px;font-weight:800;color:#ffffff;letter-spacing:-0.3px;'>AIand<span style='color:#2AA5A0;'>WEB</span>services</div><div style='font-size:11px;color:rgba(255,255,255,0.45);margin-top:4px;letter-spacing:0.5px;text-transform:uppercase;'>AI Automation &amp; Web Services</div></td></tr><tr><td align='center' style='background-color:#2AA5A0;padding:14px 40px;'><span style='font-size:13px;font-weight:700;color:#ffffff;letter-spacing:0.5px;text-transform:uppercase;'>✓ Assessment Complete</span></td></tr><tr><td style='padding:40px 40px 32px;'><p style='margin:0 0 24px;font-size:18px;font-weight:700;color:#0f172a;line-height:1.4;'>Hi {{ $json.firstName }},</p><p style='margin:0 0 16px;font-size:15px;color:#374151;line-height:1.7;'>Thanks for completing the AI Readiness Checklist{{ $json.hasCompany ? ' for ' + $json.companyName : '' }}.</p><div style='text-align:center;background:linear-gradient(135deg,rgba(42,165,160,0.12),rgba(42,165,160,0.03));border:1.5px solid rgba(42,165,160,0.3);border-radius:12px;padding:32px 20px;margin:24px 0;'><div style='font-size:13px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;margin-bottom:8px;'>Your Score</div><div style='font-size:56px;font-weight:800;color:#2AA5A0;line-height:1;margin-bottom:8px;'>{{ $json.score }}<span style='font-size:24px;color:#9ca3af;'>/20</span></div><div style='font-size:16px;font-weight:700;color:#0f172a;'>{{ $json.tier }}</div></div><p style='margin:0 0 24px;font-size:15px;color:#374151;line-height:1.7;'>{{ $json.tierMessage }}</p><table role='presentation' width='100%' cellpadding='0' cellspacing='0' border='0' style='margin:24px 0;'><tr><td style='border-top:1px solid #e5e7eb;padding-bottom:28px;'></td></tr></table><p style='margin:0 0 16px;font-size:13px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;'>What Happens Next</p><p style='margin:0 0 16px;font-size:14px;color:#374151;line-height:1.7;'>I personally review every submission. Within 6 hours you will receive a follow-up from me with:</p><ul style='margin:0 0 24px;padding-left:20px;color:#374151;font-size:14px;line-height:1.8;'><li>Specific recommendations tailored to your business</li><li>Quick wins you can implement this week</li><li>Whether a deeper audit conversation makes sense</li></ul><table role='presentation' width='100%' cellpadding='0' cellspacing='0' border='0'><tr><td align='center' style='padding:16px 0 8px;'><a href='https://cal.com/aiandwebservices/30min' style='display:inline-block;background-color:#2AA5A0;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:16px 32px;border-radius:999px;letter-spacing:0.2px;'>Book a 30-min audit call →</a></td></tr></table><table role='presentation' width='100%' cellpadding='0' cellspacing='0' border='0' style='margin-top:28px;'><tr><td style='background-color:#f8fafc;border-left:3px solid #2AA5A0;border-radius:4px;padding:16px 20px;'><p style='margin:0 0 4px;font-size:13px;font-weight:700;color:#0f172a;'>Questions before then?</p><p style='margin:0;font-size:13px;color:#374151;line-height:1.6;'>Reply to this email — I personally respond within 6 hours, usually in minutes.</p></td></tr></table></td></tr><tr><td style='background-color:#f8fafc;border-top:1px solid #e5e7eb;padding:24px 40px;'><p style='margin:0 0 6px;font-size:13px;font-weight:700;color:#0f172a;'>David Pulis — AIandWEBservices</p><p style='margin:0;font-size:12px;color:#6b7280;line-height:1.6;'><a href='mailto:david@aiandwebservices.com' style='color:#2AA5A0;text-decoration:none;'>david@aiandwebservices.com</a> • Miami, FL • <a href='https://www.aiandwebservices.com' style='color:#2AA5A0;text-decoration:none;'>aiandwebservices.com</a></p></td></tr></table></td></tr></table></body></html>\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "confirm-user-node",
      "name": "Confirm User — Send Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Checklist processed\",\n  \"score\": {{ $('Normalize & Score').item.json.score }},\n  \"tier\": \"{{ $('Normalize & Score').item.json.tier }}\"\n}"
      },
      "id": "respond-node",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize & Score", "type": "main", "index": 0 }]]
    },
    "Normalize & Score": {
      "main": [[
        { "node": "Search EspoCRM by Email", "type": "main", "index": 0 },
        { "node": "Notify David — New Lead", "type": "main", "index": 0 },
        { "node": "Confirm User — Send Results", "type": "main", "index": 0 }
      ]]
    },
    "Search EspoCRM by Email": {
      "main": [[{ "node": "Lead Exists?", "type": "main", "index": 0 }]]
    },
    "Lead Exists?": {
      "main": [
        [{ "node": "Update EspoCRM Lead", "type": "main", "index": 0 }],
        [{ "node": "Create Lead in EspoCRM", "type": "main", "index": 0 }]
      ]
    },
    "Update EspoCRM Lead": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Create Lead in EspoCRM": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Notify David — New Lead": {
      "main": [[]]
    },
    "Confirm User — Send Results": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "description": "v2: Added search-then-update logic before creating leads. Searches EspoCRM by email first. If lead exists (started checklist earlier), updates status to In Progress + appends score to description. If no lead found (edge case), creates new. Notify David and Confirm User fire from Normalize in parallel."
  }
}
