n8n-workflows/square-webhook-processor.json
{"updatedAt":"2026-04-18T08:35:02.973Z","createdAt":"2026-04-17T17:55:15.735Z","id":"KZF1aDVTM5mNlkbb","name":"Square Webhook Processor","description":"","active":true,"isArchived":false,"nodes":[{"id":"a1b2c3d4-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"square-webhook-processor","parameters":{"httpMethod":"POST","path":"square-webhook","responseMode":"lastNode","options":{}}},{"id":"a1b2c3d4-0002-4000-8000-000000000002","name":"Normalize Event Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300],"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"f1","name":"event_type","value":"={{ $json.body.type }}","type":"string"},{"id":"f2","name":"payment_id","value":"={{ $json.body.data.object.payment.id }}","type":"string"},{"id":"f3","name":"amount_cents","value":"={{ $json.body.data.object.payment.amount_money.amount }}","type":"number"},{"id":"f4","name":"amount_dollars","value":"={{ $json.body.data.object.payment.amount_money.amount / 100 }}","type":"number"},{"id":"f5","name":"order_id","value":"={{ $json.body.data.object.payment.order_id }}","type":"string"},{"id":"f6","name":"customer_email","value":"={{ $json.body.data.object.payment.buyer_email_address ?? '' }}","type":"string"},{"id":"f7","name":"customer_name","value":"={{ $json.body.data.object.payment.billing_address?.first_name ?? $json.body.data.object.payment.shipping_address?.first_name ?? $json.body.data.object.payment.buyer_email_address ?? 'Customer' }}","type":"string"},{"id":"f8","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"f9","name":"status","value":"={{ $json.body.data.object.payment.status }}","type":"string"}]},"options":{}}},{"id":"a1b2c3d4-0003-4000-8000-000000000003","name":"Is Payment Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ $json.event_type }}","rightValue":"invoice.payment_made","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"a1b2c3d4-0004-4000-8000-000000000004","name":"Match Tier","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200],"parameters":{"jsCode":"// Tier mapping — must stay in sync with lib/pricing.ts\n// Keys are setup fee amounts in DOLLARS\nconst TIER_BY_AMOUNT = {\n  39:  { slug: 'presence',       name: 'Presence',         monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/V3YMPG3KCU2WBR6TVKHRG3ZZ' },\n  59:  { slug: 'growth',         name: 'Growth',           monthlyAmount: 149, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/AAU7Z73OQAID3NKACN3NRREY' },\n  199: { slug: 'ai-first',       name: 'AI-First',         monthlyAmount: 349, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/OU4GK2ZLA55RKCKBSSHQYJUY' },\n};\n\n// $99 setups — disambiguate by payment link ID embedded in order metadata\n// These IDs are the setupLinkId values from lib/pricing.ts\nconst TIER_BY_LINK_ID = {\n  'R5TCDCXYIUABP3TA': { slug: 'revenue-engine',        name: 'Revenue Engine',        monthlyAmount: 249, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/DJDCDH57E74WKIXDU62MKAZE' },\n  '4VUKHAXKQEC2EAFO': { slug: 'ai-automation-starter', name: 'AI Automation Starter', monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/JLUTDJWBJVGMSRT3UIUXPQKD' },\n  'KHQJJWZ4JZMDT7JW': { slug: 'consulting',            name: 'Consulting',            monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/2A27LH5ZQGWEDG5YPZF27DHH' },\n};\n\n// Known monthly amounts — flag these as monthly (not setup)\nconst MONTHLY_AMOUNTS = new Set([99, 149, 249, 349]);\n\nconst item = $input.first().json;\n\n// Deduplication: skip if this payment_id was already processed\n// Handles Square sending both payment.created and payment.updated for same payment\nconst seen = $getWorkflowStaticData('global');\nif (!seen.processedPaymentIds) seen.processedPaymentIds = [];\nconst paymentId = item.payment_id;\nif (paymentId && seen.processedPaymentIds.includes(paymentId)) {\n  return [{ json: { ...item, tier_matched: false, is_monthly: false, skipped_duplicate: true, unmatched_reason: 'Duplicate payment_id: ' + paymentId } }];\n}\nif (paymentId) seen.processedPaymentIds.push(paymentId);\n// Keep last 500 IDs to avoid unbounded growth\nif (seen.processedPaymentIds.length > 500) seen.processedPaymentIds = seen.processedPaymentIds.slice(-500);\n\nconst amountDollars = item.amount_dollars;\nconst orderId = item.order_id ?? '';\n\nlet result = { ...item, tier_matched: false, is_monthly: false };\n\n// Check if this looks like a monthly recurring charge\n// (In practice, Square recurring invoices come via invoice.payment_made not payment.created,\n//  but guard here just in case)\nif (amountDollars === 99 || amountDollars === 149 || amountDollars === 249 || amountDollars === 349) {\n  // Could be monthly OR a $99 setup — try to match setup first\n}\n\n// Try unambiguous amount match first\nif (TIER_BY_AMOUNT[amountDollars]) {\n  const tier = TIER_BY_AMOUNT[amountDollars];\n  result = { ...result, ...tier, tier_matched: true, setup_amount: amountDollars };\n} else if (amountDollars === 99) {\n  // Ambiguous — try to match by payment link ID in the order ID\n  // Square embeds the payment link ID in order metadata; we stored it as setupLinkId\n  // Try matching order_id substring against known link IDs\n  const matchedLinkId = Object.keys(TIER_BY_LINK_ID).find(id => orderId.includes(id));\n  if (matchedLinkId) {\n    const tier = TIER_BY_LINK_ID[matchedLinkId];\n    result = { ...result, ...tier, tier_matched: true, setup_amount: 99 };\n  } else {\n    // $99 but can't determine which tier — flag for manual review\n    result.unmatched_payment = true;\n    result.unmatched_reason = '$99 payment could not be matched to a tier via order_id';\n  }\n} else if (MONTHLY_AMOUNTS.has(amountDollars)) {\n  result.is_monthly = true;\n  result.unmatched_reason = `Monthly payment of $${amountDollars} received — no action needed (subscription active)`;\n} else {\n  result.unmatched_payment = true;\n  result.unmatched_reason = `Unknown amount: $${amountDollars}`;\n}\n\nreturn [{ json: result }];"}},{"id":"a1b2c3d4-0005-4000-8000-000000000005","name":"Tier Matched?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.tier_matched }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}},{"id":"c2","leftValue":"={{ $json.is_monthly }}","rightValue":false,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}}},{"id":"a1b2c3d4-0006-4000-8000-000000000006","name":"Send Enrollment Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,100],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"bodyParameters":{"parameters":[]},"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"{{ $json.customer_email }}\",\n  \"reply_to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"Your {{ $json.name }} setup is complete — enroll in your monthly subscription\",\n  \"html\": {{ JSON.stringify($json.email_html ?? '') }},\n  \"text\": \"Hi {{ $json.customer_name }},\\n\\nYour {{ $json.name }} setup payment of ${{ $json.setup_amount }} has been received.\\n\\nComplete your enrollment here:\\n{{ $json.monthlyLink }}\\n\\nWhat happens next:\\n1. Click the link above and enroll in your ${{ $json.monthlyAmount }}/month subscription.\\n2. David reviews your business and begins onboarding within 1 business day.\\n3. You'll receive a calendar invite for your kickoff call within 24 hours.\\n\\nQuestions? Email david@aiandwebservices.com\\n\\n— David Pulis, AIandWEBservices\"\n}","options":{}},"notes":"Uses Resend API Header Auth credential. The HTML body is built in the preceding Code node (Build Email HTML). If customer_name is unavailable, falls back to email address.","credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}},{"id":"a1b2c3d4-00065-4000-8000-000000000065","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,220],"parameters":{"jsCode":"// Inject template variables into the HTML email\n// In production, ideally load this from an external template store.\n// For now, inline with n8n expressions replaced.\n\nconst item = $input.first().json;\n\nconst firstName = item.customer_name?.split(' ')[0] ?? 'there';\nconst tierName = item.name ?? 'your plan';\nconst monthlyAmount = String(item.monthlyAmount ?? '');\nconst monthlyLink = item.monthlyLink ?? '#';\nconst setupAmount = String(item.setup_amount ?? '');\n\n// Minimal transactional HTML — references template vars\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/><title>Your ${tierName} setup is complete</title></head>\n<body style=\"margin:0;padding:0;background-color:#f0f2f5;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f0f2f5;\">\n<tr><td align=\"center\" style=\"padding:32px 16px;\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\">\n<tr><td align=\"center\" style=\"background-color:#0f172a;padding:28px 40px;\">\n  <div style=\"font-size:22px;font-weight:800;color:#ffffff;\">AIand<span style=\"color:#2AA5A0;\">WEB</span>services</div>\n  <div style=\"font-size:11px;color:rgba(255,255,255,0.45);margin-top:4px;text-transform:uppercase;letter-spacing:0.5px;\">AI Automation &amp; Web Services</div>\n</td></tr>\n<tr><td align=\"center\" style=\"background-color:#14b8a6;padding:14px 40px;\">\n  <span style=\"font-size:13px;font-weight:700;color:#ffffff;text-transform:uppercase;letter-spacing:0.5px;\">&#10003; &nbsp;Setup Payment Received</span>\n</td></tr>\n<tr><td style=\"padding:40px 40px 32px;\">\n  <p style=\"margin:0 0 24px;font-size:18px;font-weight:700;color:#0f172a;\">Hi ${firstName},</p>\n  <p style=\"margin:0 0 16px;font-size:15px;color:#374151;line-height:1.7;\">Your <strong>${tierName}</strong> setup payment of <strong>$${setupAmount}</strong> has been received — thank you for choosing AIandWEBservices.</p>\n  <p style=\"margin:0 0 32px;font-size:15px;color:#374151;line-height:1.7;\">The next step is to enroll in your monthly subscription so David can begin the onboarding process. It takes less than 2 minutes.</p>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"padding-bottom:36px;\">\n    <a href=\"${monthlyLink}\" style=\"display:inline-block;background-color:#0f172a;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:16px 32px;border-radius:6px;border:2px solid #2AA5A0;\">Enroll in ${tierName} Monthly &mdash; $${monthlyAmount}/mo &rarr;</a>\n    <p style=\"margin:12px 0 0;font-size:12px;color:#9ca3af;\">No lock-in &mdash; cancel or pause anytime</p>\n  </td></tr></table>\n  <p style=\"margin:0 0 16px;font-size:13px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">What happens next</p>\n  <p style=\"margin:0 0 10px;font-size:14px;color:#374151;line-height:1.6;\"><strong>1.</strong> &nbsp;Click the button above and complete your $${monthlyAmount}/month enrollment.</p>\n  <p style=\"margin:0 0 10px;font-size:14px;color:#374151;line-height:1.6;\"><strong>2.</strong> &nbsp;David reviews your business and begins onboarding within 1 business day.</p>\n  <p style=\"margin:0 0 32px;font-size:14px;color:#374151;line-height:1.6;\"><strong>3.</strong> &nbsp;You'll receive a calendar invite for your kickoff call within 24 hours.</p>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"background-color:#f8fafc;border-left:3px solid #2AA5A0;border-radius:4px;padding:16px 20px;\">\n    <p style=\"margin:0 0 4px;font-size:13px;font-weight:700;color:#0f172a;\">Questions? Reach David directly.</p>\n    <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.6;\">Reply to this email or write to <a href=\"mailto:david@aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;font-weight:600;\">david@aiandwebservices.com</a> &mdash; guaranteed response within 6 hours.</p>\n  </td></tr></table>\n</td></tr>\n<tr><td style=\"background-color:#f8fafc;border-top:1px solid #e5e7eb;padding:24px 40px;\">\n  <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#0f172a;\">David Pulis &mdash; AIandWEBservices</p>\n  <p style=\"margin:0;font-size:12px;color:#6b7280;line-height:1.6;\"><a href=\"mailto:david@aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;\">david@aiandwebservices.com</a> &bull; Miami, FL &bull; <a href=\"https://www.aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;\">aiandwebservices.com</a></p>\n</td></tr>\n<tr><td align=\"center\" style=\"padding:16px 40px 24px;\">\n  <p style=\"margin:0;font-size:11px;color:#9ca3af;text-align:center;line-height:1.6;\">You received this transactional email because you purchased a service from AIandWEBservices.<br/>AIandWEBservices &bull; Miami, FL &bull; USA</p>\n</td></tr>\n</table></td></tr></table>\n</body></html>`;\n\nreturn [{ json: { ...item, email_html: html } }];"}},{"id":"a1b2c3d4-0007-4000-8000-000000000007","name":"Update HubSpot Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,100],"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": [\n    {\n      \"idProperty\": \"email\",\n      \"id\": \"{{ $('Build Email HTML').first().json.customer_email }}\",\n      \"properties\": {\n        \"email\": \"{{ $('Build Email HTML').first().json.customer_email }}\",\n        \"tier_slug\": \"{{ $('Build Email HTML').first().json.slug }}\",\n        \"setup_paid_date\": \"{{ new Date().toISOString().split('T')[0] }}\",\n        \"monthly_link_sent\": \"{{ $('Build Email HTML').first().json.monthlyLink }}\"\n      }\n    }\n  ]\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"XZInvN4DsBdKrmfX","name":"HubSpot PAT"}}},{"id":"a1b2c3d4-0008-4000-8000-000000000008","name":"Alert David — Unmatched Payment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,380],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"[AIandWEBservices] UNMATCHED PAYMENT: ${{ $json.amount_dollars }} — manual action needed\",\n  \"text\": \"Square payment received that n8n could not match to a tier:\\n\\nAmount: ${{ $json.amount_dollars }}\\nPayment ID: {{ $json.payment_id }}\\nOrder ID: {{ $json.order_id }}\\nCustomer: {{ $json.customer_email }}\\nTimestamp: {{ $json.timestamp }}\\nReason: {{ $json.unmatched_reason ?? $json.unmatched_payment ? 'Unmatched' : 'Monthly payment received' }}\\n\\nAction required:\\n1. Check Square Dashboard > Transactions > search by Payment ID.\\n2. Identify which plan the customer purchased.\\n3. Manually email the customer with the correct monthly subscription link from lib/pricing.ts.\\n4. Update HubSpot contact manually.\\n\\nThis alert was generated by the n8n Square Webhook Processor workflow.\"\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}},{"id":"notify-david-payment","name":"Notify David — Payment Received","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,100],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"aiandwebservices@gmail.com\",\n  \"reply_to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"[AIWS] {{ $json.name }} payment — ${{ $json.setup_amount }} from {{ $json.customer_email }}\",\n  \"text\": \"Payment received.\\n\\nTier: {{ $json.slug }} ({{ $json.name }})\\nAmount: ${{ $json.setup_amount }}\\nCustomer: {{ $json.customer_name }}\\nEmail: {{ $json.customer_email }}\\nPayment ID: {{ $json.payment_id }}\\nTimestamp: {{ $json.timestamp }}\\nSquare transaction: https://squareup.com/dashboard/sales/transactions/{{ $json.payment_id }}\\nMonthly link that will be sent to customer: {{ $json.monthlyLink }}\"\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}}],"connections":{"Webhook":{"main":[[{"node":"Normalize Event Data","type":"main","index":0}]]},"Normalize Event Data":{"main":[[{"node":"Is Payment Completed?","type":"main","index":0}]]},"Match Tier":{"main":[[{"node":"Tier Matched?","type":"main","index":0}]]},"Tier Matched?":{"main":[[{"node":"Build Email HTML","type":"main","index":0}],[{"node":"Alert David — Unmatched Payment","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Enrollment Email","type":"main","index":0}]]},"Send Enrollment Email":{"main":[[{"node":"Update HubSpot Contact","type":"main","index":0}]]},"Is Payment Completed?":{"main":[[{"node":"Match Tier","type":"main","index":0}],[]]},"Update HubSpot Contact":{"main":[[{"node":"Notify David — Payment Received","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","availableInMCP":false},"staticData":{"global":{"processedPaymentIds":["e2e_pay_notify_065745","e2e_pay_073101","e2e_pay_074210","e2e_pay_074636","e2e_pay_075026","e2e_pay_075425","e2e_pay_075737","e2e_pay_080011","e2e_pay_direct_080544","e2e_pay_082906","e2e_pay_083322","e2e_pay_083509"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67e2a92a-f6b1-4931-8f25-894b076e84df","activeVersionId":"67e2a92a-f6b1-4931-8f25-894b076e84df","versionCounter":126,"triggerCount":1,"shared":[{"updatedAt":"2026-04-17T17:55:15.737Z","createdAt":"2026-04-17T17:55:15.737Z","role":"workflow:owner","workflowId":"KZF1aDVTM5mNlkbb","projectId":"BlEmqdHjrvaXk07E","project":{"updatedAt":"2026-04-14T22:19:41.087Z","createdAt":"2026-04-14T22:18:22.091Z","id":"BlEmqdHjrvaXk07E","name":"David Pulis <aiandwebservices@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ec226865-c6c8-4578-967b-3aeb7f936e0e"}}],"tags":[{"updatedAt":"2026-04-17T17:55:32.843Z","createdAt":"2026-04-17T17:55:32.843Z","id":"sJY1IOYynIytduXr","name":"Square Webhook Processor"}],"activeVersion":{"updatedAt":"2026-04-18T08:35:02.974Z","createdAt":"2026-04-18T08:35:02.974Z","versionId":"67e2a92a-f6b1-4931-8f25-894b076e84df","workflowId":"KZF1aDVTM5mNlkbb","nodes":[{"id":"a1b2c3d4-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"square-webhook-processor","parameters":{"httpMethod":"POST","path":"square-webhook","responseMode":"lastNode","options":{}}},{"id":"a1b2c3d4-0002-4000-8000-000000000002","name":"Normalize Event Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300],"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"f1","name":"event_type","value":"={{ $json.body.type }}","type":"string"},{"id":"f2","name":"payment_id","value":"={{ $json.body.data.object.payment.id }}","type":"string"},{"id":"f3","name":"amount_cents","value":"={{ $json.body.data.object.payment.amount_money.amount }}","type":"number"},{"id":"f4","name":"amount_dollars","value":"={{ $json.body.data.object.payment.amount_money.amount / 100 }}","type":"number"},{"id":"f5","name":"order_id","value":"={{ $json.body.data.object.payment.order_id }}","type":"string"},{"id":"f6","name":"customer_email","value":"={{ $json.body.data.object.payment.buyer_email_address ?? '' }}","type":"string"},{"id":"f7","name":"customer_name","value":"={{ $json.body.data.object.payment.billing_address?.first_name ?? $json.body.data.object.payment.shipping_address?.first_name ?? $json.body.data.object.payment.buyer_email_address ?? 'Customer' }}","type":"string"},{"id":"f8","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"f9","name":"status","value":"={{ $json.body.data.object.payment.status }}","type":"string"}]},"options":{}}},{"id":"a1b2c3d4-0003-4000-8000-000000000003","name":"Is Payment Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ $json.event_type }}","rightValue":"invoice.payment_made","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"a1b2c3d4-0004-4000-8000-000000000004","name":"Match Tier","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200],"parameters":{"jsCode":"// Tier mapping — must stay in sync with lib/pricing.ts\n// Keys are setup fee amounts in DOLLARS\nconst TIER_BY_AMOUNT = {\n  39:  { slug: 'presence',       name: 'Presence',         monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/V3YMPG3KCU2WBR6TVKHRG3ZZ' },\n  59:  { slug: 'growth',         name: 'Growth',           monthlyAmount: 149, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/AAU7Z73OQAID3NKACN3NRREY' },\n  199: { slug: 'ai-first',       name: 'AI-First',         monthlyAmount: 349, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/OU4GK2ZLA55RKCKBSSHQYJUY' },\n};\n\n// $99 setups — disambiguate by payment link ID embedded in order metadata\n// These IDs are the setupLinkId values from lib/pricing.ts\nconst TIER_BY_LINK_ID = {\n  'R5TCDCXYIUABP3TA': { slug: 'revenue-engine',        name: 'Revenue Engine',        monthlyAmount: 249, monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/DJDCDH57E74WKIXDU62MKAZE' },\n  '4VUKHAXKQEC2EAFO': { slug: 'ai-automation-starter', name: 'AI Automation Starter', monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/JLUTDJWBJVGMSRT3UIUXPQKD' },\n  'KHQJJWZ4JZMDT7JW': { slug: 'consulting',            name: 'Consulting',            monthlyAmount: 99,  monthlyLink: 'https://checkout.square.site/merchant/MLTDBEPZS805X/checkout/2A27LH5ZQGWEDG5YPZF27DHH' },\n};\n\n// Known monthly amounts — flag these as monthly (not setup)\nconst MONTHLY_AMOUNTS = new Set([99, 149, 249, 349]);\n\nconst item = $input.first().json;\n\n// Deduplication: skip if this payment_id was already processed\n// Handles Square sending both payment.created and payment.updated for same payment\nconst seen = $getWorkflowStaticData('global');\nif (!seen.processedPaymentIds) seen.processedPaymentIds = [];\nconst paymentId = item.payment_id;\nif (paymentId && seen.processedPaymentIds.includes(paymentId)) {\n  return [{ json: { ...item, tier_matched: false, is_monthly: false, skipped_duplicate: true, unmatched_reason: 'Duplicate payment_id: ' + paymentId } }];\n}\nif (paymentId) seen.processedPaymentIds.push(paymentId);\n// Keep last 500 IDs to avoid unbounded growth\nif (seen.processedPaymentIds.length > 500) seen.processedPaymentIds = seen.processedPaymentIds.slice(-500);\n\nconst amountDollars = item.amount_dollars;\nconst orderId = item.order_id ?? '';\n\nlet result = { ...item, tier_matched: false, is_monthly: false };\n\n// Check if this looks like a monthly recurring charge\n// (In practice, Square recurring invoices come via invoice.payment_made not payment.created,\n//  but guard here just in case)\nif (amountDollars === 99 || amountDollars === 149 || amountDollars === 249 || amountDollars === 349) {\n  // Could be monthly OR a $99 setup — try to match setup first\n}\n\n// Try unambiguous amount match first\nif (TIER_BY_AMOUNT[amountDollars]) {\n  const tier = TIER_BY_AMOUNT[amountDollars];\n  result = { ...result, ...tier, tier_matched: true, setup_amount: amountDollars };\n} else if (amountDollars === 99) {\n  // Ambiguous — try to match by payment link ID in the order ID\n  // Square embeds the payment link ID in order metadata; we stored it as setupLinkId\n  // Try matching order_id substring against known link IDs\n  const matchedLinkId = Object.keys(TIER_BY_LINK_ID).find(id => orderId.includes(id));\n  if (matchedLinkId) {\n    const tier = TIER_BY_LINK_ID[matchedLinkId];\n    result = { ...result, ...tier, tier_matched: true, setup_amount: 99 };\n  } else {\n    // $99 but can't determine which tier — flag for manual review\n    result.unmatched_payment = true;\n    result.unmatched_reason = '$99 payment could not be matched to a tier via order_id';\n  }\n} else if (MONTHLY_AMOUNTS.has(amountDollars)) {\n  result.is_monthly = true;\n  result.unmatched_reason = `Monthly payment of $${amountDollars} received — no action needed (subscription active)`;\n} else {\n  result.unmatched_payment = true;\n  result.unmatched_reason = `Unknown amount: $${amountDollars}`;\n}\n\nreturn [{ json: result }];"}},{"id":"a1b2c3d4-0005-4000-8000-000000000005","name":"Tier Matched?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.tier_matched }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}},{"id":"c2","leftValue":"={{ $json.is_monthly }}","rightValue":false,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}}},{"id":"a1b2c3d4-0006-4000-8000-000000000006","name":"Send Enrollment Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,100],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"bodyParameters":{"parameters":[]},"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"{{ $json.customer_email }}\",\n  \"reply_to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"Your {{ $json.name }} setup is complete — enroll in your monthly subscription\",\n  \"html\": {{ JSON.stringify($json.email_html ?? '') }},\n  \"text\": \"Hi {{ $json.customer_name }},\\n\\nYour {{ $json.name }} setup payment of ${{ $json.setup_amount }} has been received.\\n\\nComplete your enrollment here:\\n{{ $json.monthlyLink }}\\n\\nWhat happens next:\\n1. Click the link above and enroll in your ${{ $json.monthlyAmount }}/month subscription.\\n2. David reviews your business and begins onboarding within 1 business day.\\n3. You'll receive a calendar invite for your kickoff call within 24 hours.\\n\\nQuestions? Email david@aiandwebservices.com\\n\\n— David Pulis, AIandWEBservices\"\n}","options":{}},"notes":"Uses Resend API Header Auth credential. The HTML body is built in the preceding Code node (Build Email HTML). If customer_name is unavailable, falls back to email address.","credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}},{"id":"a1b2c3d4-00065-4000-8000-000000000065","name":"Build Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,220],"parameters":{"jsCode":"// Inject template variables into the HTML email\n// In production, ideally load this from an external template store.\n// For now, inline with n8n expressions replaced.\n\nconst item = $input.first().json;\n\nconst firstName = item.customer_name?.split(' ')[0] ?? 'there';\nconst tierName = item.name ?? 'your plan';\nconst monthlyAmount = String(item.monthlyAmount ?? '');\nconst monthlyLink = item.monthlyLink ?? '#';\nconst setupAmount = String(item.setup_amount ?? '');\n\n// Minimal transactional HTML — references template vars\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/><title>Your ${tierName} setup is complete</title></head>\n<body style=\"margin:0;padding:0;background-color:#f0f2f5;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f0f2f5;\">\n<tr><td align=\"center\" style=\"padding:32px 16px;\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\">\n<tr><td align=\"center\" style=\"background-color:#0f172a;padding:28px 40px;\">\n  <div style=\"font-size:22px;font-weight:800;color:#ffffff;\">AIand<span style=\"color:#2AA5A0;\">WEB</span>services</div>\n  <div style=\"font-size:11px;color:rgba(255,255,255,0.45);margin-top:4px;text-transform:uppercase;letter-spacing:0.5px;\">AI Automation &amp; Web Services</div>\n</td></tr>\n<tr><td align=\"center\" style=\"background-color:#14b8a6;padding:14px 40px;\">\n  <span style=\"font-size:13px;font-weight:700;color:#ffffff;text-transform:uppercase;letter-spacing:0.5px;\">&#10003; &nbsp;Setup Payment Received</span>\n</td></tr>\n<tr><td style=\"padding:40px 40px 32px;\">\n  <p style=\"margin:0 0 24px;font-size:18px;font-weight:700;color:#0f172a;\">Hi ${firstName},</p>\n  <p style=\"margin:0 0 16px;font-size:15px;color:#374151;line-height:1.7;\">Your <strong>${tierName}</strong> setup payment of <strong>$${setupAmount}</strong> has been received — thank you for choosing AIandWEBservices.</p>\n  <p style=\"margin:0 0 32px;font-size:15px;color:#374151;line-height:1.7;\">The next step is to enroll in your monthly subscription so David can begin the onboarding process. It takes less than 2 minutes.</p>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"padding-bottom:36px;\">\n    <a href=\"${monthlyLink}\" style=\"display:inline-block;background-color:#0f172a;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:16px 32px;border-radius:6px;border:2px solid #2AA5A0;\">Enroll in ${tierName} Monthly &mdash; $${monthlyAmount}/mo &rarr;</a>\n    <p style=\"margin:12px 0 0;font-size:12px;color:#9ca3af;\">No lock-in &mdash; cancel or pause anytime</p>\n  </td></tr></table>\n  <p style=\"margin:0 0 16px;font-size:13px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.6px;\">What happens next</p>\n  <p style=\"margin:0 0 10px;font-size:14px;color:#374151;line-height:1.6;\"><strong>1.</strong> &nbsp;Click the button above and complete your $${monthlyAmount}/month enrollment.</p>\n  <p style=\"margin:0 0 10px;font-size:14px;color:#374151;line-height:1.6;\"><strong>2.</strong> &nbsp;David reviews your business and begins onboarding within 1 business day.</p>\n  <p style=\"margin:0 0 32px;font-size:14px;color:#374151;line-height:1.6;\"><strong>3.</strong> &nbsp;You'll receive a calendar invite for your kickoff call within 24 hours.</p>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"background-color:#f8fafc;border-left:3px solid #2AA5A0;border-radius:4px;padding:16px 20px;\">\n    <p style=\"margin:0 0 4px;font-size:13px;font-weight:700;color:#0f172a;\">Questions? Reach David directly.</p>\n    <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.6;\">Reply to this email or write to <a href=\"mailto:david@aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;font-weight:600;\">david@aiandwebservices.com</a> &mdash; guaranteed response within 6 hours.</p>\n  </td></tr></table>\n</td></tr>\n<tr><td style=\"background-color:#f8fafc;border-top:1px solid #e5e7eb;padding:24px 40px;\">\n  <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#0f172a;\">David Pulis &mdash; AIandWEBservices</p>\n  <p style=\"margin:0;font-size:12px;color:#6b7280;line-height:1.6;\"><a href=\"mailto:david@aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;\">david@aiandwebservices.com</a> &bull; Miami, FL &bull; <a href=\"https://www.aiandwebservices.com\" style=\"color:#2AA5A0;text-decoration:none;\">aiandwebservices.com</a></p>\n</td></tr>\n<tr><td align=\"center\" style=\"padding:16px 40px 24px;\">\n  <p style=\"margin:0;font-size:11px;color:#9ca3af;text-align:center;line-height:1.6;\">You received this transactional email because you purchased a service from AIandWEBservices.<br/>AIandWEBservices &bull; Miami, FL &bull; USA</p>\n</td></tr>\n</table></td></tr></table>\n</body></html>`;\n\nreturn [{ json: { ...item, email_html: html } }];"}},{"id":"a1b2c3d4-0007-4000-8000-000000000007","name":"Update HubSpot Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,100],"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": [\n    {\n      \"idProperty\": \"email\",\n      \"id\": \"{{ $('Build Email HTML').first().json.customer_email }}\",\n      \"properties\": {\n        \"email\": \"{{ $('Build Email HTML').first().json.customer_email }}\",\n        \"tier_slug\": \"{{ $('Build Email HTML').first().json.slug }}\",\n        \"setup_paid_date\": \"{{ new Date().toISOString().split('T')[0] }}\",\n        \"monthly_link_sent\": \"{{ $('Build Email HTML').first().json.monthlyLink }}\"\n      }\n    }\n  ]\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"XZInvN4DsBdKrmfX","name":"HubSpot PAT"}}},{"id":"a1b2c3d4-0008-4000-8000-000000000008","name":"Alert David — Unmatched Payment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,380],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"[AIandWEBservices] UNMATCHED PAYMENT: ${{ $json.amount_dollars }} — manual action needed\",\n  \"text\": \"Square payment received that n8n could not match to a tier:\\n\\nAmount: ${{ $json.amount_dollars }}\\nPayment ID: {{ $json.payment_id }}\\nOrder ID: {{ $json.order_id }}\\nCustomer: {{ $json.customer_email }}\\nTimestamp: {{ $json.timestamp }}\\nReason: {{ $json.unmatched_reason ?? $json.unmatched_payment ? 'Unmatched' : 'Monthly payment received' }}\\n\\nAction required:\\n1. Check Square Dashboard > Transactions > search by Payment ID.\\n2. Identify which plan the customer purchased.\\n3. Manually email the customer with the correct monthly subscription link from lib/pricing.ts.\\n4. Update HubSpot contact manually.\\n\\nThis alert was generated by the n8n Square Webhook Processor workflow.\"\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}},{"id":"notify-david-payment","name":"Notify David — Payment Received","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,100],"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","credentials":{"httpHeaderAuth":{"name":"Resend API"}},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"david@aiandwebservices.com\",\n  \"to\": \"aiandwebservices@gmail.com\",\n  \"reply_to\": \"aiandwebservices@gmail.com\",\n  \"subject\": \"[AIWS] {{ $json.name }} payment — ${{ $json.setup_amount }} from {{ $json.customer_email }}\",\n  \"text\": \"Payment received.\\n\\nTier: {{ $json.slug }} ({{ $json.name }})\\nAmount: ${{ $json.setup_amount }}\\nCustomer: {{ $json.customer_name }}\\nEmail: {{ $json.customer_email }}\\nPayment ID: {{ $json.payment_id }}\\nTimestamp: {{ $json.timestamp }}\\nSquare transaction: https://squareup.com/dashboard/sales/transactions/{{ $json.payment_id }}\\nMonthly link that will be sent to customer: {{ $json.monthlyLink }}\"\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"GzRyTkEdooedPiWZ","name":"Resend API"}}}],"connections":{"Webhook":{"main":[[{"node":"Normalize Event Data","type":"main","index":0}]]},"Normalize Event Data":{"main":[[{"node":"Is Payment Completed?","type":"main","index":0}]]},"Match Tier":{"main":[[{"node":"Tier Matched?","type":"main","index":0}]]},"Tier Matched?":{"main":[[{"node":"Build Email HTML","type":"main","index":0}],[{"node":"Alert David — Unmatched Payment","type":"main","index":0}]]},"Build Email HTML":{"main":[[{"node":"Send Enrollment Email","type":"main","index":0}]]},"Send Enrollment Email":{"main":[[{"node":"Update HubSpot Contact","type":"main","index":0}]]},"Is Payment Completed?":{"main":[[{"node":"Match Tier","type":"main","index":0}],[]]},"Update HubSpot Contact":{"main":[[{"node":"Notify David — Payment Received","type":"main","index":0}]]}},"authors":"David Pulis","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-18T08:35:03.018Z","id":54,"workflowId":"KZF1aDVTM5mNlkbb","versionId":"67e2a92a-f6b1-4931-8f25-894b076e84df","event":"activated","userId":"ec226865-c6c8-4578-967b-3aeb7f936e0e"},{"createdAt":"2026-04-18T08:35:03.011Z","id":53,"workflowId":"KZF1aDVTM5mNlkbb","versionId":"67e2a92a-f6b1-4931-8f25-894b076e84df","event":"deactivated","userId":"ec226865-c6c8-4578-967b-3aeb7f936e0e"}]}}